
{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans "Sections" %}</h1>
    <a class="btn btn-primary mb-3" href="{% url 'sections:create' %}">{% trans "Add section" %}</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-1">ID</th>
                <th class="col-5">{% trans "Name" %}</th>
                <th class="col-1">{% trans "Creation date" %}</th>
                <th class="col-1"></th>
            </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr>
                <td class="col-1">{{ section.id }}</td>
                <td class="col-5">{{ section.name }}</td>
                <td class="col-1">{{ section.created_at|date:"d.m.Y" }}</td>
                <td class="col-1">
                    <a href="{% url 'sections:update' section.id %}">{% trans "Edit" %}</a>
                    <br>
                    <a href="{% url 'sections:delete' section.id %}">{% trans "Delete" %}</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">{% trans "No sections found" %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}